<div class="drag-dialog" >
        <div class="drag-dialog-set col-lg-3">
            <div>
                <ul>
                    <li>姓名</li>
                    <li>学号</li>
                    <li>班级</li>
                    <li>年龄</li>
                </ul>
                <input type="text" ng-model="vm.addHead" /> <button class="btn btn-success" ng-click="vm.viewParams.data.push(vm.addHead)">添加</button>
            </div>
        </div>
        <div class="drag-dialog-content col-lg-9">
                <div class="drag-dialog-content-head">
                    <button ng-click="vm.closeDialog()">确定</button>
                </div>
                <!--<div ng-include="'/Modules/Mes/BI/ReportBoxView.html'">

                </div>-->
                <div oc-lazy-load="'/Modules/Mes/BI/ReportBoxView.js'" class="drag-dialog-content-body">
                    <div report-box-view view-params="vm.viewParams" view-url="vm.viewUrl">

                    </div>
                </div>
        </div>
</div>
<style>
    .drag-dialog {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /*background-color: rgba(26,26,26,0.5);*/
        margin: 20px;
        background-color: #dedede;
    }
    .drag-dialog-set {
        height:100%;
        padding:10px;
    }
        .drag-dialog-set > div {
            height: 100%;
            background-color: #fff;
        }
    .drag-dialog-content {
        height: 100%;
        padding: 10px;
    }
        /*.drag-dialog-content > div {
            height: 100%;
            background-color: #fff;
        }*/
    .drag-dialog-set ul li{
        list-style:none;
    }
    .drag-dialog-content-head {
        height: 285px;
        margin-bottom:15px;
        background-color: #fff;
    }
    .drag-dialog-content-body {
        height: calc( 100% - 300px);
        overflow: auto;
        background-color: #fff;
    }
</style>