<!--发布招聘-->
<div class="releaseJob-box recruit-wrapper">
	<h1 class="form-h1">发布职位</h1>
	<form novalidate name="releaseJob">
		<fieldset class="form-container alterCrew">
			<div class="form-row">
				<label for="job" class="row-label vt">职位名称：</label>
				<div class="row-control-width-large inline-block">
					<input type="text" validator='required' ng-model="formVal.job" class="row-control  form-control alterCrew-form-control w100" name='job' placeholder="如:人力资源经理，请勿超过20个字">
				</div>
			</div>
			<div class="form-row">
				<label for="profession" class="row-label">所属行业：</label>
				<div class="row-box">
					<input type="radio" name='profession' value="full_time" ng-model="formVal.profession">
					<label for="profession">全职</label>
				</div>
				<div for="" class="row-box">
					<input type="radio" name='profession'  value="part_time" ng-model='formVal.profession'>
					<label for="profession">兼职</label>
				</div>
				<div for="" class="row-box">
					<input type="radio" name='profession' value="practive"   ng-model='formVal.profession'>
					<label for="profession">实习</label>
				</div>		
			</div>
			<div class="form-row">
				<label for="jobType" class="row-label vt">职位类别：</label>
				<div class="inline-block">
					<select name="jobType"  validator='required' ng-model='formVal.jobType'  ng-options="x.code as x.itemNameCn for x in original.positionList" class="row-control form-control alterCrew-form-control">
							<option value=""></option>
							<option value="1">1</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<label for="shipType" class="row-label vt">船舶类别：</label>
				<div class="inline-block">															
					<select name="shipType"  validator='required' ng-model="formVal.shipType"  ng-options="x.shipTypeCode as x.shipTypeName for x in original.shipTypeList" class="row-control form-control alterCrew-form-control">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<label for=""  class="row-label vt">发布时长：</label>
				<div class="inline-block">
					<div for="" class="row-box">
						<input type="radio" name='publishAlive' value="30"   ng-model='formVal.publishAlive'>
						<label for="publishAlive">30天</label>
					</div>	
					<div for="" class="row-box">
						<input type="radio" name='publishAlive' value="practive2"   ng-model='formVal.publishAlive'>
						<label for="publishAlive">自定义</label>
					</div>
					<div class="time-group">
						<div class="inline-block" currency-picker picker="search.endApplyTime" placeholder="'选择开始时间'"></div>
						-
						<div class="inline-block" currency-picker picker="search.endApplyTime" placeholder="'选择截止时间'"></div>	
					</div>
				</div>
			</div>
			<div class="form-row">
				<label for="salary"  class="row-label vt">职位月薪：</label>
				<div class="inline-block">
					<select name="salary"  validator='required' ng-model="formVal.salary" ng-options="x.code as x.itemNameCn for x in original.salarList" class="row-control form-control alterCrew-form-control">
							<option value=""></option>
							<option value="1">1</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<label for="numbers" class="row-label vt">招聘人数：</label>
				<div class="inline-block">
					<input type="number" name='numbers' validator='required'  ng-model="formVal.numbers" class="row-control-width row-control form-control alterCrew-form-control"> 人
				</div>
			</div>
			<div class="form-row">
				<label for="education" class="row-label vt">学历要求：</label>
				<div class="inline-block">
					<select name="education"  ng-model='formVal.education' ng-options="x.code as x.itemNameCn for x in original.educationList" class="row-control-width row-control form-control alterCrew-form-control">
						<option value="">不限</option>
					</select> 及以上
				</div>
			</div>
			<div class="form-row">
				<label for="workDuration" class="row-label vt">工作年限：</label>
				<div class="inline-block">
					<select name="workDuration"  validator='required' ng-model="formVal.workDuration" ng-options="x.code as x.itemNameCn for x in original.workDurationList" class="row-control form-control alterCrew-form-control">
						<option value=""></option>
						<option value="1">1</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<label for="describe"  class="row-label vt">职位描述：</label>
				<div class="inline-block row-control-width-large">
					<textarea name="describe" ng-model="formVal.describe"  rows="5" class="widthAll border-color-ccc" placeholder="必填"></textarea>
					<div class="color-777">不超过100个字</div>
				</div>
			</div>
			<div class="form-row end text-center">
				<button class="btn form-up" ng-click="formSubimt()" validation-submit="releaseJob" ng-disabled="!releaseJob.$dirty">保存</button>
				<a href="" class="form-cancel"  ng-click="cancel()">取消</a>
			</div>
		</fieldset>
	</form>
</div>
<style>
	.releaseJob-box .border-color-ccc{
		border-color: #ccc
	}
	.releaseJob-box .color-777{
		color:#777
	}
	.releaseJob-box .row-control-width{
		width: 250px;
	}
	.releaseJob-box .row-control-width-large{
		width: 80%;
	}
	.releaseJob-box .w100{
		width: 100%;
	}
	.releaseJob-box .form-row .time-group{
		margin-top:20px;
	}
	.releaseJob-box{
		background-color: #fff;
		padding: 25px;
	}
	.releaseJob-box .form-h1{
		font-size: 24px;
		margin-bottom: 25px;
	}
	.releaseJob-box .form-container{
		background-color: #f4f4f4;
		/* margin: 0 25px; */
		padding: 20px 0;
	}
	.releaseJob-box .form-row{
		margin-bottom: 20px;
	}
	.releaseJob-box .form-row .row-label{
		color:#777;
	    padding: 6px 25px;
		font-size: 16px;
	}
	.releaseJob-box .row-control{
		height: 35px;
		line-height: 35px;
		border-radius: 0;
	}


	.releaseJob-box .form-row .vt{
		vertical-align: top;
	}


	.releaseJob-box .form-container .end .form-cancel{
		color: #999;
	}

	.releaseJob-box .form-container .form-up{
		height: 28px;
		line-height: 28px;
		padding: 0 15px;
		background: #00c1de;
		color: #fff;
		border-radius: 20px;
		width: 80px;
		margin-right: 25px;
		border: none;
	}

	.releaseJob-box .form-container .form-up:hover,
	.releaseJob-box .form-container .form-up:focus,
	.releaseJob-box .form-container .form-up:active{
		background-color: #f1630d !important;
	}

	.releaseJob-box .row-box input[type="radio"]:checked+label:before{
		content: "";
		position: absolute;
		left: calc(100% - 10px);
  	    top: calc(100% - 10px);
		height: 10px;
		width: 10px;
		border: solid 10px #00c1de;
		border-top-color: transparent;
		border-left: transparent;
		border-bottom: transparent;
		border-radius: 0;
	}
	.row-box input[type="radio"]+label:before, input[type="radio"]+input[type="number"]+label:before{
		background-color: transparent;
	}

	input[type="radio"], input[type="checkbox"]{
		display: initial;
	}
	.row-box{
		position: relative;
		display: inline-block;
		/* width: 80px;
		height: 50px; */
		margin-right: 5px;
	}
	.row-box>input{
		position: absolute;
  		  /* visibility: hidden; */
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 5;
	}
	.row-box>label{
		height: 35px;
		width: 80px;
		line-height: 35px;
		background: #fff;
		border: solid 1px #ccc;
		padding: 0 !important;
		text-align: center;	
		cursor: pointer;
	}
	.row-box input[type="radio"]:checked+label{
		border-color: #00c1de;
		border-width: 2px;
	}


</style>